@if (Request.IsAuthenticated)
{
    <nav>
        <ul id="menu">
            <li>@Html.ActionLink("Locations", "All", "Locations", new { @class = "menu-items" })</li>
            <li>@Html.ActionLink("Routes", "All", "RouteDispatch", new { @class = "menu-items" })</li>
            <li>@Html.ActionLink("Employess", "All", "Workers", new { @class = "menu-items" })</li>
            <li>@Html.ActionLink("Archives", "All", "Archives", new { @class = "menu-items" })</li>
        </ul>
    </nav>
    <text>
    @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "menu-items", title = "Manage" })
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a class="menu-items" href="javascript:document.getElementById('logoutForm').submit()">Sign out</a>
        }
    </text>
}
else
{
    <ul>
        <li>@Html.ActionLink("Try now", "Register", "Account", routeValues: null, htmlAttributes: new { @class="blue-button" })</li>
        <li>@Html.ActionLink("Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { @class="menu-items" })</li>
    </ul>
}
