@model IEnumerable<WebApplication.Engine.Model.Task>

@{
    ViewBag.Title = "All";
}

<div class="page-header">
    <h1>Locations</h1>
    <a href="">Plan routes</a>
</div>

<a href=""><img src="" /> Add location</a>

<table>
    <tr>
        <td>VISIT DESCRIPTION</td>
        <td>ADDRESS</td>
        <td>CONTACT</td>
        <td>VISIT TIME</td>
    </tr>
    @{
        foreach (var task in Model)
        {
        <tbody>
            <tr>
                <td>@task.Description</td>
                <td>@task.Location.Latitude &nbsp; @task.Location.Longitude</td>
                <td>@task.Customer</td>
                <td>@task.TimeInMins minutes</td>
            </tr>
        </tbody>
        }
    }
</table>
